@media (min-width: 1200px) {
  .wrapper {
    width: 1366px;
  }
}
@media (min-width: 480px) {
  .wrapper__column {
    width: 50%;
  }
}
@media (min-width: 960px) {
  .wrapper__column {
    width: 33.33333333%;
  }
}