/*!
 * Cermati Frontend Test
 * by Darana Sukma Vidya (https://darana.id)
 * 2020
*/

/* GENERAL */
* {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* GLOBAL */
.text-center {
  text-align: center;
}

/* WRAPPER */
.main-wrapper {
  background: #e5e5e5;
  padding: 4rem 0;
}
.wrapper {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper.small {
  max-width: 720px;
}
.wrapper__row {
  margin-right: -15px;
  margin-left: -15px;
}
.wrapper__row:before {
  display: table;
  content: '';
}
.wrapper__row:after {
  clear: both;
  display: table;
  content: '';
}
.wrapper__column {
  width: 100%;
  float: left;
  min-height: 1px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper__intro {
  text-align: center;
  margin-bottom: 4rem;
}
.wrapper__intro h1 {
  font-size: 32px;
  font-weight: normal;
}

/* NOTIFICATION */
.notification {
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #F1F1F1;
}
.notification__content {
  font-size: 14px;
}
.notification__content p {
  width: 90%;
  margin: 0;
  color: #444444;
  font-size: 13px;
  display: inline-block;
}
.notification__content button {
  float: right;
  color: #fff;
  background: #007bc1;
  border-color: #007bc1;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 4px;
}
/* HERO */
.hero {
  height: 700px;
  position: relative;
  padding-top: 4.2rem;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 74, 117, 0.7);
  z-index: 1;
}
.hero__content {
  position: relative;
  z-index: 9;
}
.hero__content__header img {
  max-height: 55px;
  margin-top: 1.6rem;
}
.hero__content__intro {
  color: #ffffff;
  text-align: center;
  padding: 8rem 0
}
.hero__content__intro h1 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0px;
}
.hero__content__intro h3 {
  font-size: 28px;
  margin-bottom: 15px;
}
.hero__content__intro p {
  font-size: 16px;
}
.hero__content__intro button {
  color: #ffffff;
  background: transparent;
  border-color: #fff;
  border-radius: 0;
  padding: 14px 18px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  text-transform: uppercase;
}
.hero__content__intro button:hover {
  color: #007bc1;
  background: #ffffff;
}

/* ITEM */
.item {
  position: relative;
  border: 1px solid #b5b5b5;
  margin-bottom: 20px;
  padding: 2rem;
  box-shadow: inset 1px 1px 1px 0 #ffffff;
}
.item:hover {
  background-color: #eeeeee;
}
.item__title {
  font-weight: normal;
}
.item__desc {
  line-height: 1.5;
  font-size: 14px;
}
.item__icon {
  font-size: 32px;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  opacity: 0.4;
}

/* NEWSLETTER */
.newsletter {
  position: fixed;
  left: 0;
  bottom: 0;
  color: #ffffff;
  max-width: 640px;
  padding: 1.4rem;
  background: rgba(0, 123, 193, 0.9);
  z-index: 99;
  display: none;
}
.newsletter__content h1 {
  font-size: 24px;
}
.newsletter__content p {
  font-size: 14px;
}
.newsletter__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}
.newsletter__form input {
  border: 0;
  height: 32px;
  padding: 6px 10px;
  font-size: 14px;
  width: 78%;
  display: inline-block;
}
.newsletter__form button {
  color: #ffffff;
  height: 32px;
  width: 18%;
  font-size: 14px;
  font-weight: 500;
  vertical-align: top;
  background: #F2A400;
  border-color: #F2A400;
}
.newsletter__form button:hover {
  background: #e29c08;
  border-color: #e29c08;
}
/* FOOTER */
footer {
  padding: 2rem 0;
  text-align: center;
  background-color: #040425;
}
footer p {
  color: #747BA8;
  font-size: 14px;
  margin: 0;
}